body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.products {
    display: inline;
    justify-content: space-around;
    margin: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.add-to-cart {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.cart {
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
}

.cart h2 {
    margin-top: 0;
}

.cart p {
    font-weight: bold;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    margin-bottom: 10px;
}